:root {
  --main-bg-color: #eff5fe;
  --border-color: #0288d147;
  --container-width: 500px;
}

body,
html {
  font-family: system-ui;
  background: var(--main-bg-color);
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
body,
.drop-zone,
.upload-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.drop-zone {
  width: var(--container-width);
  min-height: 200px;
  border: 2px dashed var(--border-color);
  margin: 30px;
  border-radius: 10px;
  transition: all 0.2s ease;
}
.dragged.drop-zone {
  background: var(--main-bg-color);
  border-color: #2196f3;
}

.upload-container {
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 20px 20px #0000002e;
}
.icon-container {
  width: 75px;
  height: 100px;
  position: relative;
}

.icon-container img {
  width: 75px;
  position: absolute;
  transform-origin: bottom;
  transition: transform 250ms ease-in-out;
}

.icon-container .center {
  z-index: 2;
}
.icon-container .right,
.icon-container .left {
  filter: grayscale(0.5);
  transform: scale(0.9);
}

.dragged .icon-container .right {
  transform: rotate(11deg) translateX(20px) scale(0.9);
}

.dragged .icon-container .left {
  transform: rotate(-11deg) translateX(-20px) scale(0.9);
}
.dragged .icon-container .center {
  transform: translateY(-5px);
}

#fileInput {
  display: none;
}

.browseBtn {
  color: #2196f3;
  cursor: pointer;
}

.progress-container {
  width: var(--container-width);
  height: 70px;
  border: 2px solid var(--main-bg-color);
  margin-bottom: 25px;
  border-radius: 10px;
  position: relative;
  display: none;
}

.progress-container .bg-progress {
  background: var(--main-bg-color);
  width: 0%;
  height: 100%;
  border-radius: 3px;
  /* transform: scaleX(0 ); */

  transition: width 0.25s linear;
  position: absolute;
}

.progress-container .inner-container {
  position: absolute;
  z-index: 1;
  margin: 10px 15px;
  width: calc(100% - 30px);
}

.title {
  font-weight: bold;
}

.percent-container {
  font-size: 15px;

  opacity: 0.8;
}

.progress-bar {
  height: 3px;
  width: 100%;
  background: #03a9f4;
  border-radius: 2px;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.25s linear;
}

/**  link sharing container styles start here ........  */

.sharing-container {
  width: var(--container-width);
  margin-bottom: 20px;
  display: none;
}

p {
  opacity: 0.8;
  text-align: center;
}

.sharing-container .input-container input {
  width: 100%;
  border: 2px dashed var(--border-color);
  border-radius: 5px;
  padding: 7px 13px;
  box-sizing: border-box;
  font-size: 18px;
  background: #f5fcff;
  color: #0000008c;
}

.sharing-container .input-container {
  position: relative;
  margin-bottom: 10px;
}

.input-container img {
  position: absolute;
  height: 25px;
  width: 30px;
  right: 7px;
  top: 10px;
  background: #f7fdff;
  cursor: pointer;
}

/**  link sharing container styles stop here ........  */

/**  send email style start here ....  */
.email-container {
  display: flex;
  align-items: center;
}
.email-container form {
  width: 100%;
  border: 2px solid var(--border-color);
  border-radius: 10px;
  padding: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.email-container .field {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  width: 400px;
}

.email-container label {
  font-size: 16px;
}

.email-container input {
  font-size: 18px;
  border: none;
  border-bottom: 2px solid var(--border-color);
  text-align: center;
  width: 50%;
}

.email-container input:focus {
  outline: none;
}

.email-container button {
  padding: 5px 30px;
  margin-top: 15px;
  background: var(--border-color);
  border: none;
  border-radius: 5px;
  color: #607d8b;
  font-weight: 500;
  cursor: pointer;
}
/**  send email style end here ............  */

.toast {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%, -80px);
  padding: 10px 20px;
  background: #51ff0d;
  border-radius: 5px;
  font-weight: 500;
  color: #fff;
  font-size: 18px;
  transition: transform ease-in-out 0.2s;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
    0px 4px 6px -2px rgba(0, 0, 0, 0.05);
}
